<div class="col-xs-12">
  <p>Share the Answers and Wisdom You've Found</p>

  <% if !@message.errors.nil? %>
    <% @message.errors.full_messages.each do |e| %>
      <p class="alert alert-danger"><%= e %></p>
    <% end %>
  <% end %>

  <%= form_for @message do |f| %>
    <%= f.label :advice, "Your Amazing Advice" %>
    <br>
    <%= f.text_area :advice %>
    <br>
    <%= f.submit %>
  <% end %>
  </br>
</div>
