<%= render 'partials/nav' %>

<h1>Get the Answers You Seek</h1>
<p>We here at <em>TribalDev</em> know how hard it is to make important choices, so why not let us do that for you!</p>

<%= button_to "Think of your question and press here for the answer", message_path(random_message), :class => "button", :method => :get  %>

<br>
<div class="dropdown">
  <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Input advice of your own!!!
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
    <%= form_for @message do |f| %>
      <%= f.label :author, "Your Name" %>
      <br>
      <%= f.text_field :author %>
      <br>
      <%= f.label :advice, "Your Amazing Advice" %>
      <br>
      <%= f.text_area :advice %>
      <br>
      <%= f.submit %>
    <% end %>
  </ul>
</div>
