<div class="col-xs-12">
<h1>Share the Answers and Wisdom You've Found</h1>

<% if !@message.errors.nil? %>
  <% @message.errors.full_messages.each do |e| %>
    <p><%= e %></p>
  <% end %>
<% end %>

<%= form_for @message do |f| %>
  <%= f.label :author, "Your Name" %>
  <br>
  <%= f.text_field :author %>
  <br>
  <%= f.label :advice, "Your Amazing Advice" %>
  <br>
  <%= f.text_area :advice %>
  <br>
  <%= f.submit %>
<% end %>
</div>
