<div>
  <table class="table">
    <tr>
      <th>advice</th>
      <th>author</th>
      <th>vote count</th>
    </tr>
    <% messages.each do |m| %>
    <tr>
      <td><%= m.advice %></td>
      <td><%= link_to m.user.name, user_path(m.user) %></td>
      <td>
        <div class="row">
          <div class="alert alert-danger" id="<%= m.id %>_message_vote_error" style="display:none;"></div>
        </div>
        <div class="well">
          <% if current_user %>
            <%= link_to(vote_message_path(m, :value => "true"), :method => "post", remote: true) do %>
              <span class="glyphicon glyphicon-menu-up"></span>
            <% end %>
          <% end %>
          <p id="<%= m.id %>_message_count"><%= m.vote_count %> votes</p>
          <% if current_user %>
            <%= link_to(vote_message_path(m, :value => "false"), :method => "post", remote: true) do %>
              <span class="glyphicon glyphicon-menu-down"></span>
            <% end %>
          <% end %>
        </div>
      </td>
    </tr>
    <% end %>
  </table>
</div>
