<% inside ||= false %>

<div class="pull-left get_message block col-xs-12 col-md-6 col-center" id = "toggle" href="<%= message_path(random_message) %>" >
  <% if inside %>
    <div class="toggle centering col-center col-xs-12 col-md-6" id="shake_button">
      <%= link_to message_path(random_message), class: "get_message toggle col-center" do %>
        <div>
          <p><%= inside.advice %></p>
          <p class="toggle author">by <%= inside.author %></p>
        </div>
      <% end %>
    </div>
  <% else %>
    <div class="toggle centering col-center col-xs-12 col-md-6" id="shake_button">
      <p><%= link_to "Get Your Fortune!", message_path(random_message), class: "get_message toggle col-center" %></p>
    </div>
  <% end %>
</div>
