<%= link_to "Get advice", message_path(random_message), class: "label label-danger shake" %>

<h1>Get the Balls You Seek</h1>

<% message = @message unless @message.nil? %>

<% @message ||= false %>

<div class="block col-xs-12 col-md-6 col-center" id = "toggle" href="<%= message_path(random_message) %>" >
  <% if @message %>
    <div class="centering col-center col-xs-12 col-md-6" id="shake_button">
      <div>
        <p><%= @message.advice %></p>
        <p class="toggle author">by <%= link_to @message.author, user_path(@message.creator) %></p>
      </div>
    </div>
  <% else %>
    <div class="centering col-center col-xs-12 col-md-6" id="shake_button">
      <%= link_to "Get Advice!", message_path(random_message), class: "label label-danger col-center" %>
    </div>
  <% end %>
</div>
