<header>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <ul class="nav navbar-nav" id="nav-ul">
        <li><%= link_to "Fortune", messages_path, class: "label label-primary" %></li>
        <li><%= link_to "Get Your Fortune!", message_path(random_message), class: "label label-danger" %></li>
        <li><%= link_to "See All Users", users_path, class: "white label label-info"  %></li>
        <% if current_user %>
          <li><%= link_to "Add New Message", new_message_path, class: "label label-primary" %></li>
          <li><%= link_to "Sign Out", signout_path, class: "label label-primary" %></li>
        <% else %>
          <li><%= link_to "Register", register_path, class: "label label-primary" %></li>
          <li><%= link_to "Sign In", signin_path, class: "label label-success"  %></li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>
