<div class="col-xs-2 well">
  <div class="row">
    <div class="alert alert-danger" id="<%= @user.id %>_user_vote_error" style="display:none;"></div>
  </div>
  <% if current_user %>
    <%= link_to(vote_user_path(@user, :value => "true"), :method => "post", remote: true) do %>
      <span class="glyphicon glyphicon-menu-up"></span>
    <% end %>
  <% end %>
  <p id="<%= @user.id %>_user_count"><%= @user.vote_count %> votes for <%= @user.name %></p>
  <% if current_user %>
    <%= link_to(vote_user_path(@user, :value => "false"), :method => "post", remote: true) do %>
      <span class="glyphicon glyphicon-menu-down"></span>
    <% end %>
  <% end %>
</div>
<div class="col-xs-10">
  <h1>User: <%= @user.name %></h1>
</div>
<br>
<div class="col-xs-12">
  <% if @user.messages.size > 0 %>
    <h4>Their Advice</h4>
    <hr>
    <%= render "partials/advice_list", messages: @user.messages %>
  <% else %>
    <h4>No Advice Yet</h4>
  <% end %>
</div>
